body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
#name{
    color: #f5af2e;
}
.link-btn{
    background-image: linear-gradient(#f0623e, #ffb547) ;
    padding: 10px 30px 10px 30px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.about{
    width: 50%;
    padding-left: 5%;

}
.img img{
    width: 67%;
    padding-left: 15%;
}
section{
    display: inline-flex;
}
.top-back{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}